body{
    background-color: #6fff3d;
}
header{
    color: red;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
    font-variant: small-caps;
    font-size: xx-large;
    font-style: oblique;
}
.nav{
    display: flex;
   
    flex-flow: row wrap;
    justify-content: space-evenly;
    
    height: 30px;
}
.nav>a{
    font-weight: bolder;
    font-size: larger;
    padding: 5px;
    border-radius: 10px;
}
.nav>a:on-click{
    color: blue;
}
footer{
    color:black;
    position: relative;
    text-align: center;
    font-size: large;
}
section{
    display:flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    
}
section>table{
    background-color: black;
    color: yellow;
    text-align: center;
}